---
import Image from "@/components/Image.astro";
import { config } from "@/data/config";
import headerImage from "@/images/header.jpg";
---

<header class="relative h-44 overflow-hidden rounded-xl md:h-64">
  <Image
    src={headerImage}
    loading="eager"
    fetchpriority="high"
    alt="Hlavní fotografie"
    class="absolute bottom-0 left-0 right-0 top-0 h-full object-cover"
  />
  <div
    aria-hidden
    class="absolute bottom-0 left-0 right-0 top-0 z-1 block h-full w-full bg-black bg-opacity-70 md:bg-opacity-50"
  >
  </div>
  <div
    class="absolute top-1/2 z-2 mx-6 flex max-w-md -translate-y-1/2 transform flex-col text-white md:mx-10"
  >
    <strong class="mb-0.5 text-sm font-normal md:mb-1.5 md:text-base">
      {config.fullName}
    </strong>
    <h1 class="text-balance text-xl font-semibold md:text-3xl">
      Elektrikářské práce v Hodoníně a okolí
    </h1>
  </div>
</header>
