---
import { constants } from "@/data/constants";
import OpeningHoursState from "./OpeningHoursState.svelte";
import { routes } from "@/data/routes";
import Link from "./Link.astro";
---

<div class="mx-auto mt-5 hidden w-full max-w-screen-lg md:block">
  <div
    class="mx-4 flex items-center justify-between rounded-md bg-gray-100 px-3 py-1.5 text-sm"
  >
    <ul class="flex items-center gap-x-5">
      {
        constants.contactLinks.map((link) => (
          <li>
            <Link href={link.href} class="flex items-center gap-x-1.5">
              <link.icon class="size-4 text-primary" />
              <span>{link.name}</span>
            </Link>
          </li>
        ))
      }
    </ul>
    <OpeningHoursState client:load href={routes.contact.path} />
  </div>
</div>
