---
import "@fontsource/poppins/400.css"; // Regular
import "@fontsource/poppins/500.css"; // Medium
import "@fontsource/poppins/600.css"; // Semi-Bold
import "@/styles/app.css";
import type { MetaProps } from "@/types";
import clsx from "clsx";
import Meta from "@/components/Meta.astro";
import TopNav from "@/components/TopNav.astro";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  class?: string;
  meta: MetaProps;
}

const { class: classes, meta } = Astro.props;

const [cspHeader, cspValue] = [
  "Content-Security-Policy",
  "default-src 'self'; frame-src 'self' www.google.com; script-src 'self' analytics.jakubh.com 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' analytics.jakubh.com;",
];

if (!import.meta.env.DEV) {
  Astro.response.headers.set("Cache-Control", "public, max-age=3600");
  Astro.response.headers.set(cspHeader, cspValue);
}
---

<!doctype html>
<html lang="cs-CZ" transition:animate="none">
  <head>
    <ClientRouter />
    <Meta {...meta} />
    {!import.meta.env.DEV && <meta http-equiv={cspHeader} content={cspValue} />}
  </head>
  <body transition:animate="fade" class="bg-background font-sans">
    <div class="flex min-h-screen flex-col">
      <TopNav />
      <Nav />
      <main
        class={clsx(
          "flex flex-col mb-auto mx-auto w-full max-w-(--breakpoint-lg) mt-6 px-4",
          classes,
        )}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
